html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  margin: 0;
  line-height: 1.5;
  color: #121212;
  background: rgb(221, 71, 129);
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

/* app and root container */

.app-container {
  margin: 0 auto;
  max-width: 680px;
  background: rgb(221, 71, 129);
}

.app-shadow {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11), 0 8px 16px rgba(0, 0, 0, 0.11);
}

/* header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(236, 76, 138);
  padding: 1.5rem 3rem;
  color: #fff;
}

.heading {
  font-size: 1.5rem;
  color: #fff;
  width: auto;
}

.home-icon {
  color: #fff;
  width: 25%;
}

.home-icon a {
  color: #fff;
}

.nav {
  width: 50%;
}

ul.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.tools {
  display: flex;
  justify-content: flex-end;
  width: 25%;
  gap: 5%;
}

.metrics-details-list li {
  width: 100%;
  text-align: center;
  padding: 2%;
  color: #fff;
}

ul.nav-items li {
  list-style: none;
  font-size: 1.2rem;
  color: #fff;
}

.tools > li > a {
  color: #fff;
}

ul.nav-items li a {
  color: #fff;
}

/* general data */

.data-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto 0;
}

ul.metric-head-container {
  display: flex;
  align-items: center;
  background: rgb(246, 80, 146);
  padding: 1%;
}

ul > li.metric-head-image {
  width: 50%;
}

ul > li.metric-head-info {
  width: 50%;
  color: #fff;
  padding: 1% 4%;
}

.metric-head-image {
  height: auto;
  width: 100%;
  border-radius: 2px;
}

/* details data */

.details-data-container {
  display: block;
  background: rgb(223, 74, 131);
  padding: 1%;
  margin: 0;
  height: auto;
  width: 50%;
}

.details-data-container:nth-child(2) {
  background: rgb(208, 67, 121);
}

.details-data-container:nth-child(3) {
  background: rgb(208, 67, 121);
}

.details-data-container:nth-child(6) {
  background: rgb(208, 67, 121);
}

.details-data-container:nth-child(7) {
  background: rgb(208, 67, 121);
}

.details-data-container:nth-child(10) {
  background: rgb(208, 67, 121);
}

.details-data-container:nth-child(11) {
  background: rgb(208, 67, 121);
}

.details-data-container:nth-child(14) {
  background: rgb(208, 67, 121);
}

.details-data-container:nth-child(15) {
  background: rgb(208, 67, 121);
}

.details-data-container:nth-child(18) {
  background: rgb(208, 67, 121);
}

.metric-top {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.metric-bottom {
  width: 100%;
}

div.metric-image-container {
  width: 100%;
  align-self: center;
}

.metric-image {
  height: 80px;
  width: 90%;
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .metric-image {
    height: 130px;
  }
}

.metric-details-icon-container {
  align-self: flex-start;
}

.metrics-link-icon {
  background: transparent;
  border: none;
}

.right-arrow-image {
  width: 1.1rem;
  height: 1.1rem;
}

ul.country-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  list-style: none;
  gap: 2%;
}

ul.country-info li {
  margin: 1%;
  text-align: left;
  font-size: 1.1rem;
}

ul > li.btn-link {
  width: 30%;
  height: 25%;
}

.no-metrics {
  text-align: center;
  padding-top: 5%;
}

/* metrics details */

.metrics-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(221, 71, 129);
  padding: 1%;
  margin-bottom: 1%;
}

.metrics-details-container {
  display: block;
  width: 100%;
}

ul.metrics-details-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(223, 74, 131);
}

.metrics-details-list li:nth-child(even) {
  background: rgb(208, 67, 121);
  text-align: center;
}

/* error page */

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 10%;
}

/* icons */
.header-icons {
  vertical-align: middle;
  font-size: 1.2rem;
  color: #fff;
}
